.howitworksbg {
    background: #FFF;
    width: 100%;
}

.h2hiw {
    font-style: normal;
    font-weight: normal;
    font-size: 37px;
    line-height: 43px;
    text-align: center;
    color: #0D2344;
}

.hitimg {
    border-radius: 15px;
    width: 325px;
    height: 578px;

}

.hitimgbg.card {
    border: none;
}